@import 'bootstrap';
*{
  outline: none;
}
:root{
  --color-light-blue: #f2f2f2;
  --color-dark: #222;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.taxonomy-root{
  padding: 14px 20px;
  margin: 20px 0;
  font-size: 18px;
}
.taxons-list li a{
  color: var(--color-dark);
  padding: 6px;
  display: block;
}
.product-image img{
  width: 230px;
}
.product-listing li{
  padding: 16px 10px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin: 10px 12px;
  max-width: 250px;
}
.product-info-wrap{
  display: flex;
  flex-direction: column;
}
.product-info-wrap a{
  font-size: 18px;
  font-weight: 600;
  color: var(--color-dark);
}
.price.selling{
  padding: 6px 20px;
  margin-top: 8px;
  font-weight: 600;
  border-radius: 51px;
  font-size: 18px;
  background: #ededed;
}
.product-listing{
  gap: 14px;
}
.home-link a{
  font-size: 18px;
  font-weight: 500;
  color: var(--color-dark);
}
#search-bar form{
  display: flex;
  align-items: center;
  gap: 10px;
}
#search-bar form select{
  border: 0;
  padding: 10px 14px;
  background: #f9f9f9;
  border: 1px solid #ddd;
}
#search-bar [type="search"]{
  height: 41px;
  border: none;
  border: 1px solid #ccc;
  color: #222;
  padding: 4px 12px;
}
#search-bar [type="submit"]{
  padding: 8px 14px;
  background: #343a40;
  color: #fff;
  border: 0;
  margin-left: 6px;
  border-radius: 4px;
}
.product-title{
  font-size: 24px;
  margin: 20px 0;
}
.copyright-wrap a{
  color: #fff;
}
.header-login-btn a{
  color: #fff;
  text-decoration: none;
}
#main-image img{
  width: 100%;
}
.product-section-title{
  font-size: 26px;
  margin-bottom: 16px;
}
#product-price .price.selling{
  margin: 10px 0 20px 0;
  display: inline-block;
}
#product-properties td{
  margin-bottom: 8px;
  display: inline-block;
  margin-right: 16px;
}
#similar_items_by_taxon li{
  background: #ededed;
  margin-bottom: 10px;
}
#similar_items_by_taxon li a{
  color: var(--color-dark);
  display: block;
  padding: 10px;
  text-decoration: none;
}
a:hover{
  text-decoration: none;
}
.logo h3{
  font-size: 32px;
  font-weight: 700;
  color: var(--color-dark);
}
@media(max-width: 992px){
  .product-image img{
    width: 175px
  }
}
@media(max-width: 576px){
  .product-image img{
    width: 200px
  }
}