<header id="header" class="header navbar-light" data-hook>
  <div class="container d-flex justify-content-between align-items-center py-3 mb-3">
    <a href="#" class="logo"><h3 class="mb-0">UrbanNest</h3></a>
    <%= render partial: 'spree/shared/nav_bar' %>
    <div class="header-login-btn btn btn-primary">
     <%= render 'spree/shared/login_bar_items' if lookup_context.exists?('spree/shared/_login_bar_items') %>
    </div>
  </div>
</header>
